/* small device */
@media screen and (max-width:576px) {
    /* header part start  */
    .nav-bar-menu{
        display:block;
        margin-right: 30px;
        align-self: center;
   }
   .nav-bar{
    display: none;
   }
   .body-shape-container{
    flex-direction: column;
    justify-content:flex-start ;
    align-items: start;
    width: 100%;
    
   }
   .body-shape-content{
    padding-left: 8px;
    }
    .body-shape-btn-container{
        width: 340px;
        gap: 10px;
    }
    .body-shape350{
       left: 10px;
       top: 290px;
    }
    .body-shape500{
        left: 180px;
        top:70px;
    }
    .body-shape-image{
        margin-top: 50px;
        justify-content:flex-start ;
        align-items: start;
        padding-left: 0px;
    }
    /* header part end  */

    /* cng habit part start  */
    .cng-habit-photo-container{
        grid-template-columns: repeat(1,1fr);
        padding-left: 105px;
    }

    /* cng habit part end   */

    /* run extra part start  */
     
    .run-extra-container{
        flex-direction: column;
    } 
    .run-extra-content, .run-extra-image{
        width: 100%;
    }
    .run-extra-content{
        padding-right: 30px;
    }
    .run-extra-content button{
        padding: 13px 139px;
        /* margin-left: 10px; */
    }
    

    /* run extra part end  */
    /* bmi part start  */
    .bmi-calculator-header{
        margin: 20px auto;
    }
    
    .bmi-calculator-container{
        flex-direction: column;
    }
    .bmi-calculator-header{
        margin-left: 20px;
    }

         .bmi-calculator{
           padding-top: 0px;
           padding-left: 20px;
         }
    .bmi-chart{
        padding: 20px;
    }
    .bmi-chart{
        width: 100%;
    }
    .bmi-calculator{
        width: 100%;   
    }
    /* bmi part end  */

    /* meet our team start  */

    .meet-our-team-photo-container{
        grid-template-columns: repeat(1,1fr);
        margin
    }
    .display-none{
        display: none;
    }

    /* meet our team end  */

    /* fitness footer start  */

    .fitness-container{
        flex-direction: column;
        gap: 5px;
        margin-left: 10px;
    }

    /* fitness footer end  */
}


/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    /* header part start  */
    .body-shape-container{
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        width: 100%;
        
       }
       .body-shape-content{
        padding-left: 0px;
        }  
        .body-shape-btn-container{
            width: 315px;
            gap: 10px;
      
        }    
        .body-shape-image{
            margin-top: 50px;
            justify-content:flex-start ;
            align-items: start;
            padding-left: 0px;
        }    
        .body-shape350{
            left: 10px;
            top: 290px;
         }
         .body-shape500{
             left: 180px;
             top:70px;
         }
         /* header part end  */
        /* cng habit part start  */
        .cng-habit-photo-container{
            grid-template-columns: repeat(2,1fr);
            padding-left: 50px;
        }
       
       
        /* cng habit part end  */
       /* bmi part start  */
    
    .bmi-calculator-container{
        flex-direction: column;
    }
    .bmi-calculator-header{
        margin-left: 20px;
    }

         .bmi-calculator{
           padding-top: 0px;
         }
    .bmi-chart{
        padding-bottom: 0px;
    }
    /* bmi part end  */
    .fitness-container{
        flex-wrap: wrap;
    }

}