*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;
  }
/* header part start here*/
body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.066) 600%);
    }
.nav-bar-headers{
    max-width: 950px;
    display: flex;
    justify-content: space-between;
     margin: 0 auto;
    padding: 25px;
}
.nav-bar-heading{
    color: rgb(230, 83, 60);
    font-size: 2rem;
     font-weight: 700;
}
.nav-bar-menu{
     display: none;
}
.nav-bar{
    width: 400px;
    display: flex;
    gap: 42px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box; 
    border-radius: 33px;
   }
.nav-bar a{
    padding: 3px;
    text-decoration-line: none;
    color:rgb(255, 255, 255); 
    font-size: 1rem;
    font-weight: 300;
}
.nav-bar-home{
    padding: 6px 18px 6px 18px;
    border-radius: 35px;
    background: rgb(230, 83, 60);
    }
.body-shape-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 400px; */
    margin-top: 16px;
}
.body-shape-content{
    width: 50%;
    padding-left: 190px;
    
}
.body-shape-content h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
#shape{
    font-family: 'Miama', sans-serif;
    }
.body-shape-content p{
    color: rgba(255, 255, 255, 0.5);
   font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}
.body-shape-btn-container{
        display: flex;
        gap: 35px;
        margin-top: 30px;
        }
.body-shape-btn1{
    padding: 13px 40px;
    border-radius: 35px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}
.body-shape-btn2{
    padding: 13px 40px;
    border-radius: 35px;
    background: rgb(17, 17,17);
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    
}
.body-shape-image{
    position: relative;
    width: 50%;
    /* height: 400px; */
    padding-left: 140px;
}
.body-shape-image img{
    /* height: 100%; */
    object-fit: cover;
}
#round-shape{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}
.body-shape350{
    position: absolute;
    bottom: 70px;
    left: 95px;
    display: flex;
    padding: 0 12px;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 65px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.014);
    border-radius: 12px;
     backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54); 
}
.body-shape350-content{
    
}
.body-shape350-content h4{
    color: rgb(250, 250, 249);
    font-size: 1.1rem;
    font-weight: 580;
}
.body-shape350-content p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.7rem;
    font-weight: 90;
}
.body-shape500{
    width: 145px;
    height: 65px;
    position: absolute;
    top: 145px;
    right:120px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}   
.body-shape500 h4{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
}
.body-shape500 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
font-weight: 260; 
}


/* header part end */

/* cng-habit start */

.cng-habit{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}
.cng-habit h1{
    color: rgb(255, 255, 255);
     font-size: 2.4rem;
     font-weight: 600;
}
.cng-habit p{
    color: rgba(255, 255, 255, 0.5);
     font-size: 0.9rem;
    font-weight: 200;
}
.cng-habit-photo-container{
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.cng-habit-photo-content{
    max-width: 200px;
}

.cng-habit-photo-content img{
    border-radius: 50%;
    
}
.cng-habit-photo-content h4 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 5px;
}
.cng-habit-photo-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 250;
}

/* cng-habit end  */

/* run extra part start  */

.run-extra-container{
    max-width: 900px;
    
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    border-radius: 18px;
    background: rgba(34, 34, 34, 0.66);
    
}
.run-extra-content{
    width: 60%;
    padding:30px 130px 30px 30px;
}
.run-extra-content h1{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight: 600;
    
}

.run-extra-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
   font-weight: 200; 
   margin-top: 10px;
   margin-bottom: 30px;
}

.run-extra-content button{
    padding: 13px 40px;
    border-radius: 35px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}

.run-extra-image{
    width: 40%;
    padding: 20px 20px;
}
.run-extra-image img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: none;
    object-position: 70% 30%;
    zoom: 65%;
}

/* run extra part end  */































